# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/media/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

#OSX
.DS_Store

#sass
data/mockup/.sass/*
data/mockup/.sass-cache/*
.idea/

