<table class="twelve" id="lead-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Reminder</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
          <tr>
            <td><a href="#">John Doe</a></td>
            <td>Microsoft</td>
            <td>john@microsoft.com</td>
            <td>12/12/2013</td>
            <td>
          <a class="tiny button" href="#">Edit</a>
          <a class="tiny alert button" href="#">X</a>
            </td>
          </tr>
        </tbody>
      </table>