<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">TimeTracker</a>

      <div class="btn-group pull-right">
        <a class="btn btn-warning btn-mini" href="#">
          Wyloguj się
        </a>
      </div>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li class=""><a href="#">Projects</a></li>
          <li class=""><a href="#">Members</a></li>
          <li class=""><a href="#">Reports</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>